<!-- {{products|json}} -->
<div class="row">
  <div *ngFor="let column of columns" class="col my-2 fw-bold">{{column}}</div>
  <div class="col"></div>
  <div class="col"></div>
</div>

<div  class="row my-1"> 
  <div *ngFor="let column of columns" class="col">
    <input type="text" class="form-control" [(ngModel)]="newProduct[column]">
  </div>
  <div class="col">
    <button (click)="addProduct()" type="button" class="btn btn-primary">Add</button>
  </div>
  <div class="col"> </div> 
</div>

<div *ngFor="let product of products|search:searchText" class="row my-1"> 
  <div *ngFor="let column of columns" class="col">
    <!-- {{product|json}} -->
    <!-- {{column}}
    {{product[column]}} -->
    <input type="text" class="form-control" [(ngModel)]="product[column]">


  </div>
  <div class="col">
    <button (click)="editProduct(product)" type="button" class="btn btn-primary">Edit</button>
  </div>
  <div class="col">
    <button (click)="deleteProduct(product)" type="button" class="btn btn-primary">Delete</button>
  </div>
</div>

<!-- 
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">

    <div *ngFor="let product of products" class="col">
      <div class="card h-100">
        <img [src]="product.keplink" class="card-img-top" [alt]="product.termeknev">
        <div class="card-body">
          <h5 class="card-title">{{product.termeknev}}</h5>
          <p class="card-text">{{product.leiras}}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                <div class="input-group mb-3">
                    <input [(ngModel)]="product.db" type="number" min="0" class="form-control">
                    <button [disabled]="!product.db" (click)="addProduct(product)" class="btn btn-outline-secondary" type="button">Kosárba</button>
                </div> 
            </small>
        </div>
    </div>

    </div>
   
  </div> -->